/* Import fonts from Google Fonts */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Apply global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
